<div>
    <h3>Contact Form</h3>
</div>
<hr/>
<div>
    <button type="button" class="pull-right btn" onclick="location.href='#!/contact/form';">Add Contact</button>
</div>
<br/>
<div>
    <form novalidate role="form" name="contactForm" ng-model="contactInfo" ng-submit="save(contactInfo)">
        <div ng-init="setForm(contactForm)"></div>
    <div class="form-group form-inline col-form-label">
        <label for="firstName">First Name: </label>
        <input type="text" name="firstName" ng-model="contact.firstName"
               class="form-control" required />
    </div>
    <div class="form-group form-inline">
        <label for="lastName">Last Name: </label>
        <input type="text" name="lastName" ng-model="contact.lastName"
               class="form-control" required />
    </div>
    <div class="form-group form-inline">
        <label for="EmailID">Email: </label>
        <span ng-click="addEmail()" class="glyphicon glyphicon-plus-sign"></span>
    </div>
    <hr/>
        <div ng-if="isWorkEmail" class="form-group form-inline">
            <select ng-model="defaultEmailType" ng-options="item for item in emailTypes" ng-change="emailTypeChange(emailTypes.defaultType)"></select>
            <input type="email" name="EmailID" ng-model="contact.emailID.work"
               class="form-control"  />
                <span class="glyphicon glyphicon-minus-sign" ng-click="removeWorkEmail()"></span>
        </div>  
        <div ng-if="isPersonalEmail" class="form-group form-inline">
            <select ng-model="defaultEmailType" ng-options="item for item in emailTypes" ng-change="emailTypeChange(emailTypes.defaultType)"></select>
            <input type="email" name="EmailID" ng-model="contact.emailID.personal"
               class="form-control"  />
                <span class="glyphicon glyphicon-minus-sign" ng-click="removePersonalEmail()"></span>
        </div>      
    </div>
    <div class="form-group form-inline">
        <label for="phoneNo">Phone No: </label>
        <span ng-click="addPhone()" class="glyphicon glyphicon-plus-sign"></span>
    </div>
    <hr/>
    <div ng-if="isWorkPhone" class="form-group form-inline">
      <select ng-model="defaultPhoneType" ng-options="item for item in phoneTypes" ng-change="phoneTypeChange(phoneTypes.defaultType)"></select>
      <input type="text" name="phoneNo" ng-model="contact.phoneNo.work" class="form-control"/>
      <span class="glyphicon glyphicon-minus-sign" ng-click="removeWorkPhone()"></span>
    </div>
    <div ng-if="isPersonalPhone" class="form-group form-inline">
      <select ng-model="defaultPhoneType" ng-options="item for item in phoneTypes" ng-change="phoneTypeChange(phoneTypes.defaultType)"></select>
      <input type="text" name="phoneNo" ng-model="contact.phoneNo.personal" class="form-control"/>
      <span class="glyphicon glyphicon-minus-sign" ng-click="removePersonalPhone()"></span>
    </div>
    <div class="form-group form-inline">
    <input type="button" value="Save" ng-disabled="!contact" ng-click="save(contactInfo)" class="btn btn-default" />
    <input type="button" value="Cancel" onclick="location.href='#!/contact/list';" class="btn btn-default" />
    </div>
    </form>
</div>